.matrixComplex {
  text-align: center;
}

.matrixComplex h5 {
  font-weight: 500;
  margin: 0 0 10px 0;
  font-size: 18px;
}

.complexCheckbox {
  padding: 2px 5px;
  font-size: 18px;
}

.complexCheckbox:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}