

.params {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;

  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.matrix{
  margin: 30px 0 20px;
  min-width: 600px;
  min-height: 120px;
}

.matrixButtons{
  display: flex;
  justify-content: space-around;
}

.matrixButtons button{
  font-size: 16px;
  border: none;
  outline: none;
  padding: 3px;
  margin: 5px;
  background-color: #fff;
  cursor: pointer;
  font-weight: 500;
}
.matrixButtons button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}