.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  /*box-shadow: inset -20px 18px 30px #632ce4;*/
}
.third {
  background-color: yellow;
}

.sidebar {
  background-color: #2c2c2c;
}

@media (max-width: 1200px) {
  .App {
    grid-template-columns: 2fr 4fr ;
  }
  .contentWrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 960px) {
  .App {
    grid-template-columns: 1fr ;
  }
}


